# Azure Functions Local Settings  
local.settings.json  

# Node Modules & Build Files  
node_modules/  
dist/  
coverage/  

# Logs & Temporary Files  
*.log  
*.bak  
.DS_Store  
.vscode/  

# Azure Function Core Tools  
.azure/  
